// Custom checkbox colors
.form-check-input {
  background-color: #fff;
  border: 1px solid #007bff;

  &:focus {
      border-color: #007bff;
  }

  &:checked {
      background-color: #007bff;
  }

  &:disabled {
      background-color: #eaeaea;
      border: none;
  }
}

.TF .form-check-input {
  background-color: #fff;
  border: 1px solid $anet-tf;

  &:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem $anet-tf;
  }

  &:checked {
    background-color: $anet-tf;
  }

  &:disabled {
    background-color: #eaeaea;
    border: none;
  }
}

.XC .form-check-input {
  background-color: #fff;
  border: 1px solid $anet-xc;

  &:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem $anet-xc;
  }

  &:checked {
    background-color: $anet-xc;
  }

  &:disabled {
    background-color: #eaeaea;
    border: none;
  }
}
