// Custom checkbox colors
.form-check-input {
    ~ .form-check-label::before {
        background-color: #fff;
        border: 1px solid #007bff;
    }

    &:checked ~ .form-check-label::before, &:active ~ .form-check-label::before {
        background-color: #007bff;
    }

    &:focus ~ .form-check-label::before {
        box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #007bff;
    }

    &:disabled ~ .form-check-label::before {
        background-color: #eaeaea;
        border: none;
    }
}

.TF .form-check-input {
    ~ .form-check-label::before {
        background-color: #fff;
        border: 1px solid $anet-tf;
    }

    &:checked ~ .form-check-label::before, &:active ~ .form-check-label::before {
        background-color: $anet-tf;
    }

    &:focus ~ .form-check-label::before {
        box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem $anet-tf;
    }

    &:disabled ~ .form-check-label::before {
        background-color: #eaeaea;
        border: none;
    }
}

.XC .form-check-input {
    ~ .form-check-label::before {
        background-color: #fff;
        border: 1px solid $anet-xc;
    }

    &:checked ~ .form-check-label::before, &:active ~ .form-check-label::before {
        background-color: $anet-xc;
    }

    &:focus ~ .form-check-label::before {
        box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem $anet-xc;
    }

    &:disabled ~ .form-check-label::before {
        background-color: #eaeaea;
        border: none;
    }
}
