//Meet Status Colors
// deprecated 5.3.2022
.official-result {
    color: rgb(23, 202, 23);
}

// deprecated 5.3.2022
.unofficial-result {
    color: rgb(250, 79, 79);
}

.results-in-rankings {
    color: #17ca17;
}

.results-not-in-rankings {
    color: #337ab7
}

// Text Colors
.text-anet, .text-sport {
    color: #770400 !important;
  }
  
  a.text-anet:hover, a.text-anet:focus, .text-sport:hover, .text-sport:focus {
    color: #2b0100 !important;
  }
  
  .text-tf, .TF .text-sport {
    color: #31537a !important;
  }
  
  a.text-tf:hover, a.text-tf:focus, .TF .text-sport:hover, .TF .text-sport:focus {
    color: #1b2e43 !important;
  }
  
  .text-xc, .XC .text-sport {
    color: #374f3f !important;
  }
  
  a.text-xc:hover, a.text-xc:focus, .XC .text-sport:hover, .XC .text-sport:focus {
    color: #18221b !important;
  }
  
  .text-rr, .RR .text-sport {
    color: #59415e !important;
  }
  
  a.text-rr:hover, a.text-rr:focus, .RR .text-sport:hover, .RR .text-sport:focus {
    color: #2e2231 !important;
  }
  
  .badge-tf, .TF .badge-sport {
    color: #fff;
    background-color: #31537a;
  }
  a.badge-tf:hover, a.badge-tf:focus, .TF .badge-sport:hover, .TF .badge-sport:focus {
    color: #fff;
    background-color: #223a56;
  }
  a.badge-tf:focus, a.badge-tf.focus, .TF .badge-sport:focus, .TF .badge-sport.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(49, 83, 122, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(49, 83, 122, 0.5);
  }
  
  .badge-xc, .XC .badge-sport {
    color: #fff;
    background-color: #374f3f;
  }
  a.badge-xc:hover, a.badge-xc:focus, .XC .badge-sport:hover, .XC .badge-sport:focus {
    color: #fff;
    background-color: #223127;
  }
  a.badge-xc:focus, a.badge-xc.focus, .XC .badge-sport:focus, .XC .badge-sport.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(55, 79, 63, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(55, 79, 63, 0.5);
  }
  
  .badge-rr, .RR .badge-sport {
    color: #fff;
    background-color: #59415e;
  }
  a.badge-rr:hover, a.badge-rr:focus, .RR .badge-sport:hover, .RR .badge-sport:focus {
    color: #fff;
    background-color: #3c2c40;
  }
  a.badge-rr:focus, a.badge-rr.focus, .RR .badge-sport:focus, .RR .badge-sport.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(89, 65, 94, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(89, 65, 94, 0.5);
  }
  
  .badge-sport, .badge-anet {
    color: #fff;
    background-color: #770400;
  }
  a.badge-sport:hover, a.badge-sport:focus, .badge-anet:hover, .badge-anet:focus {
    color: #fff;
    background-color: #440200;
  }
  a.badge-sport:focus, a.badge-sport.focus, .badge-anet:focus, .badge-anet.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(119, 4, 0, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(119, 4, 0, 0.5);
  }

// Badge Colors
// TODO, refactor badge-* to bg-* 

//  TF COLORS
.TF {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $anet-tf-dark;
    }
}

//  XC COLORS
.XC {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $anet-xc-dark;
    }
}

// RR Colors

.RR {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $anet-rr-dark;
    }
}

// Background Colors
.bg-sport {
    background-color: $anet-primary;
}

.TF .bg-sport,
.bg-tf,
.TF .progress-bar {
    background-color: $anet-tf;
}

.XC .bg-sport,
.bg-xc,
.XC .progress-bar {
    background-color: $anet-xc;
}

.RR .bg-sport,
.bg-rr,
.RR .progress-bar {
    background-color: $anet-rr;
}

.bg-gender {

  &.M,
  &.m {
    color: white;
    background-color: rgb(0, 146, 231) !important;
  }

  &.F,
  &.f {
    color: white;
    background-color: rgb(255, 163, 179) !important;
  }
}