// Tables
.DataTable {
    tr > th, tr > td {
        padding: 0 2px;
        border-top: none !important;
    }

    @media (min-width: 768px) {
        width: auto !important;
    }

    @media print {
        font-size: 11px;
    }
}

.table-md {
    th, td {
        padding: 5px;

        @include media-breakpoint-down(lg) {
            padding: 8px;
        }
    }
}

.table-align-verticle-middle {
    th, td {
        vertical-align: middle;
    }
}

.table.table-no-extra-padding {
  > :not(caption) > * > * {
    padding: 0;
  }
}
